.btn {
  border-radius: 4px;
}

.main-tr {
  background-color: #4caf50;
}

.board-container {
  display: flex;
}

.board {
  display: flex;
}
.game-settings {
  display: inline-block;
  width: 25%;
}

.board-cell {
  grid-column: span 1;
  grid-row: span 1;
  border-style: solid;
  border-width: 1px 1px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
